<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="Stylesheet" type="text/css"/>
        <link href="{{STATIC_URL}}css/style.css" rel="Stylesheet" type="text/css"/>
        {% block header %}
            
        {% endblock header %}
    </head>
    <body>
        <header>
            <div class="content">
                <div class="row">
                    <div class="span4">
                        <h5>Env:[Hack]</h5>
                    </div>
                    <div class="offset4 span4">
                        <a href="/">Home</a>
                        <a href="/submit/">Submit</a>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="content">
                <div class="row">
                {% block content %}

                {% endblock content %}
                </div>
            </div>
        </section>
    </body>
</html>
