{% extends "base.html" %}

{% block content %}
    <div class="span12">
        <h1>Waterwatch</h1>
        <p>This site allows you to report minor watercourse pollution incidents, view historic and reported pollution incidents on watercourses near you.</p>
        <p style="font-weight: bold;">If the incident you have noticed is of a high priority, or if you would not like to use this site, please phone 0800 *** ***.</p>
        <p><a href="submit/" class="btn btn-primary btn-large">Report a pollution incident &raquo;</a></p>
        <p><a href="view/" class="btn btn-primary btn-large">View existing incidents &raquo;</a></p>
      </div>
    
{% endblock content %}
