{% extends "base.html" %}

{% block header %}
<script type="text/javascript" src="http://osopenspacepro.ordnancesurvey.co.uk/osmapapi/openspace.js?key=43659536296237352656577659934363"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.3.min.js"></script>
{% endblock header %}

{% block content %}
    <h2>Report a pollution incident</h2>
    <p>Use the map below to identify the location of the pollution. Double-click the map to add a marker.</p>
    <div id="map"></div>
    <script type="text/javascript">page = 'report';</script>
    <script type="text/javascript" src="{{STATIC_URL}}js/map.js"></script>
    <div class="span9" style="margin-top: 30px;">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div>
                <input type="submit"/>
            </div>
        </form>
    </div>

{% endblock content %}
